@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form  method="post"  action="send">
    <label for="fn">First Name:</label>
    <input id="fn" type="text" name="fname"  placeholde="Enter First Name"/><br />
    <label for="ln">Last Name:</label>
    <input id="ln" type="text" name="lname"  placeholde="Enter Last Name"/><br />
    <label for="em">Email:</label>
    <input id="em" type="email" name="email"  placeholde="Enter Your Email"/><br />
    <label for="ph">Phone Number:</label>
    <input id="ph" type="number" name="phnum"  placeholde="Enter Phone Number"/>

    <p>Gender:</p>
    <input type="radio" id="male" name="genderr" value="Male">
    <label for="male">Male</label>
    <input type="radio" id="female" name="genderr" value="Female">
    <label for="female">Female</label><br/>

    <label for="dep">Customer Department:</label>

    <select name="dep" id="dep">
        <option value="sales">Sales</option>
        <option value="it">IT</option>
    </select>

    <input type="submit" value="Send Data" />


</form>


